body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Thin', sans-serif;
    font-family: 'Roboto Light', sans-serif;
    font-family: 'Roboto Medium', sans-serif;
    font-family: 'Roboto Black', sans-serif;

    background-color: #125e6b;
    padding-left: 20%;
    padding-right: 20%;
}

p,
li {
    padding-bottom: 5px;
}

.fond {
    padding: 3%;
    padding-bottom: 50px;
    background-color: #f58020;

}

.cadre-logo {
    display: flex;
    justify-content: center;
}

.logo {
    width: 80%;
}

.cartouche {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
}

.titre {
    text-align: center;
    margin: auto;
}

.vignettes:hover {
    box-shadow: 2px 2px 5px black;
}

.liste-vignettes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 930px) and (min-width: 563px) {
    body {
        padding-right: 10%;
        padding-left: 10%;
    }

    .vignettes {
        width: 80px;
    }
}

@media screen and (max-width:562px) {
    body {
        padding: 0;
    }

    p,
    li {
        padding-bottom: 0px;
    }
    
    .fond {
        height: 100vh;
        padding: 30px;
    }

    .logo {
        width: 100%;
    }

    .vignettes {
        width: 65px;
    }

}